@font-face {
	font-family: "Roboto Mono";
	src: url("/RobotoMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	min-width: 0;
	box-sizing: border-box;
}

:root {
	--foreground: #111;
	--foreground-dull: #6b6b6b;
	--background: #fdfdfd;
	--accent: #ff0000;
	--accent-light: #ff3333;
	--border: #ddd;
	--border-dark: #999;
	--space-default: 1.25rem;
	--space-half: calc(var(--space-default) / 2);
	--space-double: calc(var(--space-default) * 2);
	--site-max-width: 1400px;
	--font-size: 1.1em;
	--border-radius: 6px;
}

html {
	font-family: "Roboto Mono", monospace;
	font-size: var(--font-size);
	line-height: 1.6;
	color: var(--foreground);
	background: var(--background);
}

body {
	padding: var(--space-default);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: var(--space-double);
	border-bottom: 2px solid var(--border);
	margin-bottom: var(--space-double);
}

main {
	max-width: var(--site-max-width);
	margin: 0 auto;
}

#header-image {
	max-width: 60px;
	height: auto;
}

#header-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	gap: var(--space-default);
}

#header-left h1 {
	margin: 0;
	font-size: 1.8em;
}

#header-left p {
	margin: 0;
	color: var(--foreground-dull);
	font-size: 0.9em;
}

#nav-menu {
	display: flex;
}

.nav-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border);
	border-radius: var(--border-radius);
	transition: all 0.2s ease;
	text-decoration: none;
	padding: var(--space-half) var(--space-default);
	font-size: 0.9em;
	margin-left: 0.5rem;
	color: var(--foreground);
}
.nav-link:hover,
.nav-link.active {
	background-color: var(--table-hover);
	border-color: var(--border-dark);
	text-decoration: none;
	background: var(--foreground-dull);
}

.nav-link svg {
	fill: var(--foreground);
	margin: 0 var(--space-half);
	height: auto;
	min-width: 25px;
	max-width: 25px;
}

a,
a:active {
	color: var(--foreground);
	text-decoration: underline;
	text-decoration-color: var(--accent);
	transition: all 0.2s ease;
}

a:hover {
	text-decoration-color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #d1d0d0;
		--foreground-dull: #888;
		--background: #111;
		--accent: #00ff00;
		--accent-light: #33ff33;
		--border: #ddd;
		--border-dark: #999;
		--table-hover: #f8f9fa;
	}
}
