@font-face {
	font-family: "HandwrittenSans";
	src: url(/handwritten_sans.ttf);
}

/* light mode, default */
:root {
	--foreground: #111;
	--background: #fdfdfd;
	--accent: #ff0000;
}

html {
	font-size: 22px;
	line-height: 1.7;
	overflow-y: scroll; /* always show the scroll bar */
	overflow-x: hidden;
	color: var(--foreground);
	background-color: var(--background);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #dddddd;
		--background: #1a1a1a;
		--accent: #ff0000;
	}	
}

body,
p,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

body {
	font-family: "HandwrittenSans", Arial, Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	max-width: 95%;
	margin: 60px auto 90px auto;
}

header {
	text-align: center;
	margin: 30px auto 60px auto;
}

header h1 {
	font-size: 200%;
}

a,
a:active {
	color: var(--foreground);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--accent);
}

a:hover {
	text-decoration-color: var(--foreground);
}

table, th, td {
	border: 1px solid var(--foreground);
}

th, td {
	padding: 5px;
}

/* mobile view */
@media only screen and (max-width: 767px) {
	html {
		font-size: 1.1em;
	}
}
