@font-face {
	font-family: "Roboto Mono";
	src: url("/RobotoMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	padding: 0;
	margin: 0;
	min-width: 0;
	box-sizing: border-box;
}

:root {
	--fg: #111;
	--fg-dull: #6b6b6b;
	--bg: #fdfdfd;
	--accent: #ff0000;
	--border: #a5a5a5;

	--space-default: 1.25rem;
	--space-half: calc(var(--space-default) / 2);
	--space-double: calc(var(--space-default) * 2);

	--site-max-width: 90rem;

	--fs-large: 2em;
	--fs-regular: 1.1em;
	--fs-small: 0.9em;
	--border-radius: 6px;
}

/* general layout */

html {
	font-family: "Roboto Mono", monospace;
	font-size: var(--fs-regular);
	line-height: 1.6;
	color: var(--fg);
	background: var(--bg);
}

body {
	padding: var(--space-default);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--border);
	padding-bottom: var(--space-half);
	margin-bottom: var(--space-double);
}

footer {
	color: var(--fg-dull);
	font-size: var(--fs-small);
	margin: var(--space-double) 0;
}

main {
	max-width: var(--site-max-width);
	margin: 0 auto;
}

h1,h2,h3,h4 {
	margin: var(--space-double) 0;
}

ul,ol {
	margin-left: var(--space-double);
}

a,
a:active {
	color: var(--fg);
	text-decoration: underline;
	text-decoration-color: var(--accent);
	transition: all 0.1s ease;
}

a:hover {
	text-decoration-color: var(--fg);
}

.discontinued,
.discontinued a {
	color: var(--fg-dull);
	opacity: 0.75;
}

/* header stuff */

#header-image {
	max-width: 60px;
	height: auto;
}

#header-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	gap: var(--space-default);
}

#header-left h1 {
	margin: 0;
	font-size: var(--fs-large);
}

#header-left p {
	color: var(--fg-dull);
	font-size: var(--fs-small);
}

#nav-menu {
	display: flex;
}

.nav-link {
	font-size: var(--fs-small);
	color: var(--fg);

	display: inline-flex;
	justify-content: center;
	align-items: center;

	border: 1px solid var(--border);
	border-radius: var(--border-radius);

	transition: all 0.1s ease;

	text-decoration: none;

	margin-left: 0.5rem;
	padding: var(--space-half) var(--space-default);
}

.nav-link:hover,
.nav-link.active {
	text-decoration: none;
	border-color: var(--accent);
}

.nav-link svg {
	fill: var(--fg);
	margin: 0 var(--space-half);
	height: auto;
	min-width: 20px;
	max-width: 20px;
}

/* datatables */

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
	margin-left: 0;
	margin-bottom: var(--space-half);
}

/* product page */

.stats-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	gap: var(--space-default);
	margin: var(--space-default) 0;
}

.stat-card {
	text-align: center;
	border: 1px solid var(--border);
	border-radius: var(--border-radius);
	padding: var(--space-default);
}

.stat-card h4 {
	margin: 0;
}

.stat-card .value {
	color: var(--accent);
}

#more-table tbody,
#main-table tbody {
	font-family: Arial, Helvetica, sans-serif;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--fg: #d1d0d0;
		--fg-dull: #888;
		--bg: #111;
		--accent: #00ff00;
		--border: #ddd;
	}
}