    <script>
	$(document).ready(function() {
			$('#main').DataTable( {
				paging: false,
				searching: false,
				info: false
			} );
		} );
    </script>
	<style>

		table {
			font-size 80%;
		}

		th {
			background-color: var(--color-canvas-subtle)
		}

		/* from GitHub CSS */
		.markdown-body {
			box-sizing: border-box;
			min-width: 200px;
			max-width: 1280px;
			margin: 0 auto;
			padding: 45px;
		}

		@media (max-width: 767px) {
			.markdown-body {
				padding: 15px;
			}
		}
	</style>
	<hr>
    <footer>
	    This site/data is <a href="https://github.com/rtfmkiesel/matelab">open source</a>. Feel free to contribute &#128151;
	</footer>
</body>
</html>