	<footer>
		<p>Built {{ now().strftime("%Y-%m-%d %H:%M:%S") }} (UTC); <a href="https://github.com/rtfmkiesel/matelab/blob/main/data/{{ item['filename'] }}" target="_blank" rel="noopener noreferrer">View this file on GitHub</a></p>
	</footer>
	</main>
</body>
</html>
