<!doctype html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name=author content="matelab.ch">
	<meta name=description content="The Swiss Mate Index">
	<meta name=keywords content="mate,index,price,preis,caffeine,koffein,swiss,switzerland,schweiz">
	<meta name=viewport content="width=device-width,initial-scale=1">
	<meta property="og:title" content="matelab.ch">
	<meta property="og:description" content="The Swiss Mate Index">
	<meta property="og:type" content="website">
	<meta name=og:url content="https://matelab.ch/">
	<meta name=og:image content="https://matelab.ch/logo.png">
	<link rel=canonical href="https://matelab.ch">
	<link rel=icon type=image/x-icon href=/logo.ico>
	<link rel="stylesheet" href="/github-markdown.css">
	<script type="text/javascript" src="/jquery-3.6.3.min.js"></script>
	<script type="text/javascript" src="/datatables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/datatables.min.css">
</head>
<body class="markdown-body">
	<header>
		<a href="/"><h1>matelab.ch</h1></a>
	</header>
