<!doctype html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name=author content="matelab.ch">
	<meta name=description content="The Swiss Mate Index">
	<meta name=keywords content="mate,index,price,preis,caffeine,koffein,swiss,switzerland,schweiz">
	<meta name=viewport content="width=device-width,initial-scale=1">
	<meta property="og:title" content="matelab.ch">
	<meta property="og:description" content="The Swiss Mate Index">
	<meta property="og:type" content="website">
	<meta name=og:url content="https://matelab.ch/">
	<meta name=og:image content="https://matelab.ch/logo.png">
	<title>matelab.ch - The Swiss Mate Index</title>
	<link rel=canonical href="https://matelab.ch">
	<link rel=icon type=image/x-icon href=/logo.ico>
	<link href="/main.css" rel="stylesheet">
	<link href="/jquery.dataTables.min.css" rel="stylesheet">
	<script src="/jquery-3.7.0.min.js"></script>
	<script src="/jquery.dataTables.min.js"></script>
</head>
<body class="markdown-body">
	<header>
		<div id="header-container">
			<img height="100" src="/logo.png">
			<div id="header-text">
				<h1><a href="/">matelab</a></h1>
				<hp>The Swiss Mate Index</hp>
			</div>
		</div>
	</header>
