{% include "header.jinja2" %}

	<main>
		<div>
			Below is a sortable table of {{ products|length }} mate-based beverages available in Switzerland. There are <a href="/more.html">more statistics available</a>. This site and data is <a href="https://github.com/rtfmkiesel/matelab">open source</a>. Feel free to contribute &#128151;
		</div>
		<br>
		<table id="main" class="display compact" style="width:100%">
			<thead>
				<tr>
					<th>Product</th>
					<th>Caffeine (mg/100ml)</th>
					<th>Caffeine Total (mg)</th>
					<th>Sugar (g/100ml)</th>
					<th>Sugar Total (g)</th>
				</tr>
			</thead>
			<tbody>
				{% for item in products %}<tr>
					<td><a href="/products/{{ item['siteurl'] }}">{{ item["brand"] }} {{ item["product"] }}</a> ({{ item["size"] }}ml {{ item["packaging"]}})</td>
					<td>{{ item["caffeine"] }}</td>
					<td>{{ item["caffeinetotal"] }}</td>
					<td>{{ item["sugar"] }}</td>
					<td>{{ item["sugartotal"] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>

{% include "footer.jinja2" %}