{% include "header.jinja2" %}

	<main>
		<div>
			Below is a sortable table of {{ products|length }} mate-based beverages available in Switzerland. There are <a href="/more.html">more statistics available</a>.
		</div>
		<br>
		<table id="main" class="display compact" style="width:100%">
			<thead>
				<tr>
					<th>Brand</th>
					<th>Product</th>
					<th>Caffeine (mg/100ml)</th>
					<th>Caffeine Total (mg)</th>
					<th>Sugar (g/100ml)</th>
					<th>Sugar Total (g)</th>
				</tr>
			</thead>
			<tbody>
				{% for item in products %}<tr>
					<td>{{ item["brand"] }}</td>
					<td><a href="/products/{{ item['siteurl'] }}">{{ item["product"] }}</a> ({{ item["size"] }}ml {{ item["packaging"]}})</td>
					<td>{{ item["caffeine"] }}</td>
					<td>{{ item["caffeinetotal"] }}</td>
					<td>{{ item["sugar"] }}</td>
					<td>{{ item["sugartotal"] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h3>Contributors</h3>
        <ul>{% for contributor in contributors %}
            <li><a href="{{ contributor.split(";")[1] }}" target="_blank">{{ contributor.split(";")[0] }}</a></li>
        {% endfor %}</ul>
	</main>

{% include "footer.jinja2" %}