<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>matelab.ch - The Swiss Mate Index</title>
  <link href="https://matelab.ch/"/>
  <link href="https://matelab.ch/feed.xml" rel="self"/>
  <icon>https://matelab.ch/logo_meta.png</icon>
  <logo>https://matelab.ch/logo_meta.png</logo>
  <id>https://matelab.ch/</id>
  <updated>{{ now().strftime('%Y-%m-%dT%H:%M:%SZ') }}</updated>
  <subtitle>Compare mate-based beverages</subtitle>
  {% for item in products %}<entry>
    <title>{{ (item.brand ~ " " ~ item.product ~ " - " ~ item["size"] ~ "ml (" ~ item["packaging"] ~ ")") | e }}</title>
    <link href="https://matelab.ch/products/{{ item.siteurl }}"/>
    <id>https://matelab.ch/products/{{ item.siteurl }}</id>
    <updated>{{ item["newest_update"].strftime('%Y-%m-%dT%H:%M:%SZ') }}</updated>
    <summary>{{ item.caffeine }}mg caffeine/100ml, {{ item.sugar }}g sugar/100ml</summary>
  </entry>
  {% endfor %}
</feed>